<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">

</head>
<body>
    <h1>Biz haqimizda</h1>
    
    <div class="container">
        <p>Bu FastAPI yordamida yaratilgan oddiy veb-sayt.</p>
        <p>Biz ushbu sayt orqali tezkor va oddiy veb-ilovalarni yaratishni maqsad qilganmiz.</p>

        <a href="/" class="btn">Bosh sahifa</a>
    </div>
</body>
</html>
